@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    font-size: 14px;
}

.homepageHeader{
    padding: 6% 3%;
}

.appTitle{
    font-weight: 800;
    display: inline;
}

.themeChangeButton{
    font-weight: 600;
    display: inline;
}

.countryCard{
    background-color: white;
    border-radius: 5px;
    margin: 10% 15%;
    padding-bottom: 8%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.countryFlagImg{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.countryName{
    font-weight: 800;
    margin: 8% 10%;
}

.cardInfo{
    font-weight: 300;
    margin: 2% 10%;
}

.bold{
    font-weight: 600;
}

.countryFlagImgDetails{
    width: 80%;
}

.countryNameDetails{
    font-weight: 800;
    font-size: large;
    margin: 6% 3%;
}

.groupDetails{
    margin: 6% 3%;
}

.groupDetails > div{
    padding: 1.4% 0%;
}