@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$whiteBackground: hsl(0, 0%, 98%);
$darkColor:  hsl(200, 15%, 8%);

$darkColorDarkTheme: hsl(207, 26%, 17%);
$whiteColorDarkTheme: hsl(0, 0%, 100%);

$backgroundDarkTheme: hsl(209, 23%, 22%);

@media only screen and (max-width: 400px) { 
.app{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.lightTheme{
    background-color: $whiteBackground;
    color: $darkColor;
}

.darkTheme{
    background-color: $darkColorDarkTheme;
    color: $whiteColorDarkTheme;
}

.homepageHeader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 94%;
    padding: 8% 3%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.countriesList{
    margin-top: 22%;
}

.countryDetails{
    margin-top: 22%;
}

.appTitle{
    font-weight: 800;
    display: inline;
}

.themeChangeButton{
    white-space: nowrap;
    width: fit-content;
    position: inherit;
    right: 3%;
    font-weight: 600;
    display: inline;
}

.countryCard{
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    padding-bottom: 8%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.lightCard{
    background-color: white;
}

.darkCard{
    color: white;
    background-color: $backgroundDarkTheme;
}

.countryFlagImg{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.countryName{
    font-weight: 800;
    margin: 8% 10%;
}

.cardInfo{
    font-weight: 300;
    margin: 2% 10%;
}

.bold{
    font-weight: 600;
}

.countryFlagImgDetails{
    width: 88%;
    margin-left: 6%;
}

.countryNameDetails{
    font-weight: 800;
    font-size: x-large;
    margin: 8%;
}

.groupDetails{
    margin: 8%;
    font-size: larger;
}

.groupDetails > div{
    padding: 1.4% 0%;
}

.backButton{
    display: flex;
    margin: 33% 6% 15% 6%;
    padding: 1% 5%;
    width: fit-content;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
}

.backButtonText{
    padding-left: 5px;
}

.borderCountries{
    margin-left: -2%;
    display: flex;
    flex-wrap: wrap;
}

.borderCountry{
    display: table;
    margin: 2%;
    padding: 1% 4%;
    width: fit-content;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.moonIcon{
    width: 10px;
    padding: 0% 7%;
}

.backArrowIcon{
    width: 10px;
    padding: 0% 7%;
}

select{
    border-width: inherit;
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 4% 10% 4% 6%;
    border-color: white;
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.selectDark{
    border-width: inherit;
    color: white;
    margin-top: 5%;
    margin-left: 3%;
    padding: 4% 10% 4% 6%;
    border-color: white;
    border-radius: 3px;
    background-color: $backgroundDarkTheme;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 94%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    margin: 6% 3%;
}
  
.searchIcon {
    width: 5%;
    padding: 2% 7%;
    background-color: white;
}

.searchIconDark{
    width: 5%;
    padding: 2% 7%;
    background-color: $backgroundDarkTheme;
}
  
.searchBox {
    border: 0;
    padding: 5%;
    flex: 1;
}

.searchBoxDark{
    background-color: $backgroundDarkTheme;
    color:white;
    border: 0;
    padding: 5%;
    flex: 1;
}
  
}

@media only screen and (min-width: 400px) {

.app{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.lightTheme{
    background-color: $whiteBackground;
    color:$darkColor;
}

.darkTheme{
    background-color: $darkColorDarkTheme;
    color: $whiteColorDarkTheme;
}

.homepageHeader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 94%;
    padding: 3%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.countriesList{
    margin-top: 5%;
}

.countryDetails{
    margin-top: 22%;
}

.appTitle{
    font-weight: 800;
    display: inline;
}

.themeChangeButton{
    white-space: nowrap;
    width: fit-content;
    position: inherit;
    right: 3%;
    font-weight: 600;
    display: inline;
}

.countryCard{
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    padding-bottom: 8%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.lightCard{
    background-color: white;
}

.darkCard{
    color: white;
    background-color: $backgroundDarkTheme;
}

.countryFlagImg{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.countryName{
    font-weight: 800;
    margin: 8% 10%;
}

.cardInfo{
    font-weight: 300;
    margin: 2% 10%;
}

.bold{
    font-weight: 600;
}

.countryFlagImgDetails{
    width: 88%;
    margin-left: 6%;
}

.countryNameDetails{
    font-weight: 800;
    font-size: x-large;
    margin: 8%;
}

.groupDetails{
    margin: 8%;
    font-size: larger;
}

.groupDetails > div{
    padding: 1.4% 0%;
}

.backButton{
    display: flex;
    margin: 6%;
    padding: 1% 5%;
    width: fit-content;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
}

.backButtonText{
    padding-left: 5px;
}

.borderCountries{
    margin-left: -2%;
    display: flex;
    flex-wrap: wrap;
}

.borderCountry{
    display: table;
    margin: 2%;
    padding: 1% 4%;
    width: fit-content;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.moonIcon{
    width: 10px;
    padding: 0% 7%;
}

.backArrowIcon{
    width: 10px;
    padding: 0% 7%;
}

select{
    position: absolute;
    right: 5%;
    border-width: inherit;
    padding: 1.5% 4% 1.5% 3%;
    border-color: white;
    background-color: white;
    margin-top: -12%;
    border-radius: 3px;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.selectDark{
    border-width: inherit;
    color: white;
    margin-top: -12%;
    margin-left: 3%;
    padding: 1.5% 4% 1.5% 3%;
    border-color: white;
    border-radius: 3px;
    background-color: $backgroundDarkTheme;
}

.flexDesktop{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 45%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    margin: 6% 3%;
}
  
.searchIcon {
    width: 5%;
    padding: 2% 7%;
    background-color: white;
}

.searchIconDark{
    width: 5%;
    padding: 2% 7%;
    background-color: $backgroundDarkTheme;
}
  
.searchBox {
    border: 0;
    padding: 5%;
    flex: 1;
}

.searchBoxDark{
    background-color: $backgroundDarkTheme;
    color: white;
    border: 0;
    padding: 5%;
    flex: 1;
}


}

@media only screen and (min-width: 600px){
    .flexDesktop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
    }
}

@media only screen and (min-width: 800px){
    .app{
        height: 100%;
    }
    
    .appTitle{
        font-size: x-large;
    }

    .flexDesktop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
    }

    .homepageHeader{
        font-size: large;
        padding: 2% 6%;
        width: 88%;
    }

    .searchContainer{
        margin: 4% 4% 2% 5%;
    }

    .moonIcon{
        width: 13px;
    }

    select{
        margin-top: -6%;
    }

    .selectDark{
        margin-top: -6%;
        padding: 1.5% 4% 1.5% 3%;
    }

    .flexDesktop{
        margin: 0% 2%;
    }

    .themeChangeButton{
        margin-right: 2%;
    }

    .backButton{
        margin: 11% 6% 3% 6%;
        padding: 0.5% 2%; 
    }

    .countryDetails{
        margin-top: 9%;
    }

    .countryFlagImgDetails {
        width: 35%;
        margin-top: 2%;
    }

    .countryNameDetails{
        position: absolute;
        top: 30%;
        left: 52%;
        margin: 1%;
        font-size: xx-large;
    }

    .groupDetails > div{
        padding: 2% 0%;
    }
    
    .groupDetails{
        margin: 1% 0%;
    }

    .firstGroup{
        position: absolute;
        top: 39%;
        left: 53%;
        font-size: large;
    }

    .secondGroup{
        position: absolute;
        top: 39%;
        right: 9%;
        font-size: large;
    }

    .thirdGroup{
        position: absolute;
        top: 60%;
        left: 53%;
        font-size: large;
    }

    .searchContainer{
        width: 30%;
    }

}