@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.app{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.lightTheme{
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}

.darkTheme{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.homepageHeader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 94%;
    padding: 6% 3%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.countriesList{
    margin-top: 22%;
}

.countryDetails{
    margin-top: 22%;
}

.appTitle{
    font-weight: 800;
    display: inline;
}

.themeChangeButton{
    white-space: nowrap;
    width: fit-content;
    position: inherit;
    right: 3%;
    font-weight: 600;
    display: inline;
}

.countryCard{
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    padding-bottom: 8%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.lightCard{
    background-color: white;
}

.darkCard{
    color: white;
    background-color: hsl(209, 23%, 22%);
}

.countryFlagImg{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.countryName{
    font-weight: 800;
    margin: 8% 10%;
}

.cardInfo{
    font-weight: 300;
    margin: 2% 10%;
}

.bold{
    font-weight: 600;
}

.countryFlagImgDetails{
    width: 88%;
    margin-left: 6%;
}

.countryNameDetails{
    font-weight: 800;
    font-size: large;
    margin: 6%;
}

.groupDetails{
    margin: 6%;
}

.groupDetails > div{
    padding: 1.4% 0%;
}

.backButton{
    display: flex;
    background-color: white;
    margin: 10% 6%;
    padding: 1% 5%;
    width: fit-content;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.borderCountries{
    display: flex;
    flex-wrap: wrap;
}

.borderCountry{
    display: table;
    background-color: white;
    margin: 2%;
    padding: 1% 4%;
    width: fit-content;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
}

.moonIcon{
    width: 10px;
    padding: 0% 7%;
}

.backArrowIcon{
    width: 10px;
    padding: 0% 7%;
}

select{
    margin-top: 7%;
    margin-left: 3%;
    padding: 4% 10% 4% 1%;
    border-color: white;
    border-radius: 3px;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    width: 93%;
    -webkit-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 20px 4px rgba(0,0,0,0.05);
    margin: 0% 3%;
  }
  
  .searchIcon {
    width: 5%;
    padding: 2%;
    background-color: white;
  }
  
  .searchBox {
    border: 0;
    padding: 3%;
    flex: 1;
  }
  
